{% extends "base.html" %}
{% block title %}Estadísticas de multas en Uruguay - Notificame Ésta{% endblock %}
{% block meta_description %}Estadísticas de multas detectadas por los radares en Uruguay.{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
 .important { color: #336699; }
</style>
{% endblock %}

{% block content %}


<h1>Multas en Uruguay</h1>
<hr>
<div class="container">
    <p class="lead">Estadísticas de multas detectadas por los radares en Uruguay.</p>
</div>






{% endblock %}
