html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 61.8px;
    
    
}
.footer {
    margin-/top: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 61.8px;
    line-height: 61.8px; /* Vertically center the text there */
    background-color: #f7f7f7;
}

.site-menu li:last-child {
    border: none;
}

.site-menu ul {
    margin-bottom: 0px;
}

.site-menu li {
    border-right: 1px solid #606060;
    display: inline;
    line-height: 1em;
}

.container {
    width: auto;
    /*max-width: 680px;*/
    max-width:1618px;
    padding: 3rem 1.5rem;
    padding: 0 15px;
}

#home-cover {
    padding: 4rem 1.2rem;
    text-align: center;
    font-weight:100; 
    background: rgba(0,0,0,0.3);
    color: white;
    pad/ding: 2rem;
    wid/th: 40%;
    mar/gin:2rem;
    fl/oat: right;
    font/-size: 1.2rem;
}


.video-container {
    position: relative;
}
video {
  hei/ght: auto;
  max-/height: 400px;
  vertical-align: middle;
  width: 100%;
}
.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* home features */
/* Center align the text within the three columns below the video */
.features {
    margin: 2em auto;
}
.features .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.features h2 {
  font-weight: normal;
}
.features .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}