{% extends "layout.html" %}
{% block title %}Consulta de infracciones
{% endblock%}
{% block content %}

<h2>Cómo funciona</h2>

<p>Los radares instalados en Montevideo controlan la velocidad y los cruces con luz roja.</p>

<p>Una vez que se detecta una infracción, se emite una notificación al propietario del vehículo</p>

<h2>Consulta de infracciones</h2>

<p>Fiscalización electrónica de infracciones de
tránsito
http://www.montevideo.gub.uy/fiscalizacion-electronica-de-infracciones-de-transito
</p>

<h2>Cómo saber si me aplicaron una multa</h2>

 Para vehículos empadronados en Montevideo con domicilio registrado, se
 remitirán notificaciones y resoluciones a dicho domicilio por medio
 del Correo.
 
 Para vehículos empadronados en Montevideo sin domicilio registrado,
 con domicilio incorrecto y vehículos empadronados en el interior del
 país, se publicarán notificaciones y resoluciones en la página web de
 IMPO.
 
 Multas disponibles a partir de transcurridas 72 horas hábiles de
 cometida la infracción
 en <http://www.montevideo.gub.uy/consultainfracciones>.

 La visualización de archivos fotográficos no debe considerarse como
 notificación de multa por infracción. Los descargos o apelaciones no
 pueden presentarse hasta no recibir notificación formal por el Correo
 o en la web del Diario Oficial IMPO. 


    <blockquote class="blockquote" cite="http://www.montevideo.gub.uy/consultainfracciones">
	<p>La visualización de archivos fotográficos no debe considerarse como notificación de multa por infracción. Los descargos o apelaciones no pueden presentarse hasta no recibir notificación formal por el Correo o en la web del Diario Oficial IMPO.</p>
	<footer class="blockquote-footer">Consulta de infracciones de tránsito por fiscalización electrónica en <cite title="Source Title">http://www.montevideo.gub.uy/consultainfracciones</cite></footer>
    </blockquote>    

    <p>Las multas estan disponibles para verlas en <a href="http://www.montevideo.gub.uy/consultainfracciones">Consulta de Infracciones</a> a partir de transcurridas 72 horas hábiles de cometida la infracción.</p>

    <h2>Referencias</h2>
    <div class="list-group">
	<a href="http://www.montevideo.gub.uy/fiscalizacion-electronica-de-infracciones-de-transito" class="list-group-item list-group-item-action">http://www.montevideo.gub.uy/fiscalizacion-electronica-de-infracciones-de-transito</a>
	<a href="http://www.montevideo.gub.uy/consultainfracciones" class="list-group-item list-group-item-action">http://www.montevideo.gub.uy/consultainfracciones</a>
    </div>

{% endblock %}
