{% extends "base.html" %}
{% block title %}NotificamⒺsta - Notificador de multas en Uruguay{% endblock %}
{% block meta_description %}Notificador de multas en Uruguay por medio de Twitter.{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
 .important { color: #336699; }
</style>
{% endblock %}

{% block content %}

<video playsinline autoplay muted loop poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="bgvid">
    <!-- source src="video.webm" type="video/webm" -->
    <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">
</video>

<div class="container">
    <div class="row justify-content-md-center">
	<div class="col col-lg-2">
	</div>
	<div class="col-12 col-md-auto" id="home-cover">
	    <h1>Tus multas, un tuit a la vez</h1>
	    <p class="lead">Enterate cuando te quieran multar, después de notificado tenés 10 días para apelar.</p>
	    <p class="lead">Ingresás tu matricula una vez y en el momento que se registre una multa te avisamos.</p>
	    {% if not current_user.is_authenticated %}
	    <p class="lead">
		<a href="{{ url_for('oauth.login', provider='twitter') }}" class="btn btn-lg btn-primary"><i class="fa fa-twitter fa-2x pr-2 align-middle" aria-hidden="true"></i>Ingresar con Twitter</a>
	    </p>
	    {% endif %}
	</div>
	<div class="col col-lg-2">
	</div>
    </div>
</div>
{% endblock %}
